.chat-main
  .chat-main__group-info
    .group-index
      .group-index__name
        test
      .group-index__member
        Member:Masa
    .group-edit
      =link_to "#", class: "edit__btn" do
        Edit

  .chat-main__message-list
    .message
      .message-box
        .message-box__name
          masa
        .message-box__date
          2019/11/20(wed) 17:43:01
      .message-text
        おはよう！

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :text, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image-file'
      = f.submit 'Send', class: 'send-btn'