.chat-main
  .chat-main__group-info
    .group-index
      .group-index__name
        = @group.name
      %ul{class: 'group-index__member-list'}
        Member：
        - @group.users.each do |user|
          %li{class: 'group-index__member-list__name'}
            = user.name
    .group-edit
      =link_to edit_group_path(@group), class: "edit__btn" do
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :text, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image-file'
      = f.submit 'Send', class: 'send-btn'