.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        =link_to new_group_path(current_user), class: "contents__btn" do
          = icon('far', 'edit')
        =link_to edit_user_path(current_user), class:"contents__btn" do
          = icon('fas', 'cog')
  .side-bar__group-name
    - current_user.groups.each do |group|
      .group-box
        = link_to group_messages_path(group) do
          .group-box__name
            = group.name
          .group-box__message
            = group.show_last_message
